<section class="py-5">
    <div class="container">
        <h2 class="text-center text-uppercase text-dark pt-5">Contact</h2>
        <div class="icon-wrap text-center">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="row gy-4">
            <form>
                <input type="text" class="form-control w-75 mx-auto mb-3" placeholder="Name">
                <input type="email" class="form-control w-75 mx-auto mb-3" placeholder="Email address">
                <input type="tel" class="form-control w-75 mx-auto mb-3" placeholder="Phone Number">
                <textarea class="form-control w-75 mx-auto mb-3" rows="5"></textarea>
                <div class="text-start w-75 mx-auto">
                    <button type="submit" class="btn btn-success btn-lg w-25">Send</button>
                </div>
                
            </form>
        </div>
    </div>
</section>
